html {font-family: "palatino"; background-color:aquamarine;text-align: center}
h1 {font-size:25px; color:deepskyblue}

.btn1{
  background-color: dodgerblue;
  border-style: solid;
  font-family: 'palatino';
  font-size: 30px;
  border-radius: 5px;
}
