html {font-family: "palatino"; background-color:beige;text-align: center}
h1 {font-size:23px}

.btnB{
  background-color: #173F5F;
  border-style: solid;
  font-family: 'Arial';
  font-size: 50px;
}
.btnJ{
  background-color: #173F5F;
  border-style: solid;
  font-family: 'Arial';
  font-size: 50px;
}

.btnT{
  background-color: #173F5F;
  border-style: solid;
  font-size: 50;
  font-family: 'Arial';
  font-size: 50px;
}
.Pg1Welcome{
  font-style: 'Arial';
  font-size: 40px;
}
.heading{
  font-style: 'Arial';
  font-size: 60px;
}
