html {font-family: Optima, sans-serif;
background-image: url("grey harringbone.jpeg");
background-position: 50% 50%;
background-repeat: repeat;
text-align: center;}

h1 {font-size:23px;
  color: #f6d55c;
  text-shadow: 0px 0px 15px #173f5f}

div {font-size:17px}
p{font-size: 18px; color: #173f5f}

.heading{
  border-style:double;
  border-color: mediumslateblue;
  padding: 8px;
  border-width:5px;
  font-family: Optima, sans-serif;
}

.btnB{
  background-color: #20639B;
  border-style: groove;
  font-size: 28px;
  font-family: Optima, sans-serif;
}

a {
  text-decoration: none;
}

#play{
  background-color: #173f5f;
  border-style: double;
  border-width: 2px;
  padding: 8px;
  width: 130px;
  border-color: mediumslateblue;
  font-size: 28px;
  border-radius: 15px;
  font-family: Optima, sans-serif;
}

#about {
  background-color: #173f5f;
  border-color: mediumslateblue;
  border-style: double;
  padding: 8px;
  border-width: 2px;
  font-size: 28px;
  border-radius: 15px;
  font-family: Optima, sans-serif;
}

/*.btnT{
  background-color: Teal;
  border-style: solid;
  font-size: 30px;
  font-family: 'palatino';*/

.Pg1Welcome{
  font-style: Optima, sans-serif;
  font-size: 40px;
}
.heading{
  font-style: Optima, sans-serif;
  font-size: 50px;
}
/* .column {
  float: left;
  width: 33.33%;
}
.column2 {
  float: left;
  width: 33.33%;
} */

.About {
  border-style: none;
  font-family: Optima, sans-serif;
  font-size: 25px;
}
/* Clear floats after the columns */

.footer{
  text-align: center;
  bottom: 5px;
  width: 100%;
  background-image: url("p.gif");
  background-position: 50% 50%;
  background-repeat: repeat;
}
