html {font-family: "palatino"; background-color:#2a569c;text-align: center;}
h1 {font-size: 25px}

.btn1{
  background-color: LightGray;
  border-style: solid;
  font-family: 'palatino';
  font-size: 30px;
  border-radius: 5px;
}
