html {font-family: "palatino"; background-color:#2a569c;text-align: center}

.btn1{
  background-color: LightGray;
  border-style: solid;
  font-family: 'palatino';
  font-size: 30px;
  border-radius: 5px;
}

.btn2{
  background-color: lightgray;
  border-style: solid;
  font-family: 'palatino';
  font-size: 30px;
  border-radius: 5px;
}
